<!--Main Section Services Page-->
<div class="container pb-5">
    <div class="mt-0 p-5 rounded text-center text-break">
        <h1>Services</h1>
    </div>

    <div class="d-flex align-items-center pb-5">
        <div class="flex-shrink-0">
            <img src="/Assets/images/software_engineering.png" class="px-2" alt="..." width="300">
        </div>
        <div class="flex-grow-1 ms-3 text-break">
            <h3><b>Software Engineering</b></h3>
            <h5><p class="justify">
                To design and create computer systems and applications to solve real-world problems. Also includes:
                <ul>
                    <li>Designing and maintaining software systems</li>
                    <li>Evaluating and testing new software programs</li>
                    <li>Optimizing software for speed and scalability</li>
                    <li>Writing and testing code</li>
                    <li>Consulting with clients, engineers, security specialists, and other stakeholders</li>
                    <li>Presenting new features to stakeholders and internal customers</li>
                </ul>
            </p>
            </h5>
        </div>
      
    </div>

    <div class="d-flex align-items-center pb-5">
        
        <div class="flex-grow-1 me-5 text-break">
            <h3><b>Application Support Engineering</b></h3>
            <h5><p class="justify">
                Troubleshoot software applications and ensure that help desk tickets are resolved in a timely fashion.
                Diagnose bugs and identify potential product enhancements.
            </p>
            </h5>
        </div>
        <div class="flex-shrink-0">
            <figure class="figure">
                <img src="/Assets/images/application_support.png" class="figure-img img-fluid px-2" width="250">
                <figcaption class="figure-caption text-center">&copy; ocs-consulting.be</figcaption>
              </figure>
        </div>
    </div>

    <div class="d-flex align-items-center pb-5">
        <div class="flex-shrink-0">
            <img src="/Assets/images/web_dev.png" class="px-2" alt="..." width="250">
        </div>
        <div class="flex-grow-1 ms-5 text-break">
            <h3><b>Web Development</b></h3>
            <h5><p class="justify">
                Ensuring websites look good and function properly. Collaborate with website and graphic designers,
                monitor website traffic, troubleshoot website problems when they arise, and update websites as necessary.
            </p>
            </h5>
        </div>
    </div>
</div>