<!-- Main Section - Projects Page -->
<div class="container pb-5">
    <div class="mt-0 p-5 rounded text-center text-break">
        <h1>Projects</h1>
    </div>

    <div class="d-flex align-items-center pb-5">
        <div class="flex-shrink-0">
            <img src="/Assets/images/infinitedata_logo.png" class="px-2" alt="..." width="200">
        </div>
        <div class="flex-grow-1 ms-4 text-break">
            <h3><b>Client Migration to InfiniteDATA's AutomateNOW! tool</b></h3>
            <h5><p class="justify">
                I worked as the primary consultant for this project. We successfully
                installed and migrated One of the leading telecommunications companies in the Philippines's data to our tool which
                allows users to run continuous automated processes within the infrastructure, 
                even in areas critical to the business. The main benefits are resilient architecture, 
                online upgrades, high reliability, server-less deployment approach.
            </p>
            </h5>
        </div>
      
    </div>

    <div class="d-flex align-items-center pb-5">
        
        <div class="flex-grow-1 me-4 text-break">
            <h3><b>Application Developer for Accenture client's International Financial</b></h3>
            <h5><p class="justify">
                I worked as an Oracle Financial Applications Support and Developer for one of Accenture Inc's Diamond client.
                As a team, we were able to provide application enhancements and reduce the incident by 60% by automating
                manual tasks and applying permanent solutions to recurring incidents.
            </p>
            </h5>
        </div>
        <div class="flex-shrink-0">
            <img src="/Assets/images/accenture_logo.png" class="px-2" alt="..." width="200">
        </div>
    </div>

    <div class="d-flex align-items-center pb-5">
        <div class="flex-shrink-0">
            <img src="/Assets/images/abuhtourslogo.jpg" class="px-2" alt="..." width="200">
        </div>
        <div class="flex-grow-1 ms-3 text-break">
            <h3><b>Hotel and Tours Reservation Website</b></h3>
            <h5><p class="justify">
                This was our IT Research Project when I was in college. I worked as the lead design and developer for the project.
                It is a website created using CakePHP framework with MVC. We were able to host this website online. However, it was
                not maintained due to conflict on work schedule.
            </p>
            </h5>
        </div>
    </div>
<!--
    <div class="container projects">

        <div class="d-flex justify-content-evenly">
            <div class="d-flex flex-column mb-3 align-self-center">
                <div class="container py-2">
                    <img src="/Assets/images/infinitedata_logo.png" class="px-2" alt="..." width="200">
                </div>
                <div class="container py-2">
                    <img src="/Assets/images/globe_logo.png" class="px-2" alt="..." width="200">
                </div>
                
            </div>
            <div class="center">
                <h3><b>Globe Migration to InfiniteDATA's AutomateNOW! tool</b></h3><br>
                <h5><p class="justify">
                    Globe migration from Conman to InfiniteDATA's AutomateNOW! tool
                    Role: Primary Consultant
                    Outcome: Successfully migrate Globe old to system to AutomateNOW!
                </p>
                </h5>
            </div>
            
        </div>


        <div class="d-flex justify-content-end">
            <div class="d-flex align-items-center">
                PROJECT 2
            </div>
        </div>
        <div class="d-flex justify-content-start">
            <div class="d-flex align-items-center">
                PROJECT 3
            </div>
        </div>
    </div>
    -->
</div>