<!-- Content for the contact me page -->
<div class="container pb-5">
    <div class="mt-0 pt-5 pb-3 rounded text-left text-break">
        <h1>Contact Me</h1>
    </div>
    <div class="mt-0 pb-4 font-comfortaa border-bottom text-break">
        <div class="container-fluid pb-1">
            <i class="fa-solid fa-envelope"></i> emanderdangla@gmail.com
        </div>
        <div class="container-fluid">
            <i class="fa-solid fa-phone"></i> 437-260-8374
        </div>
    </div>
    <div class="container-fluid pt-4 pb-2 text-break">
        <h3>Contact Form</h3>
    </div>
    <div class="container text-break">
        <form action="/contact" method="POST">
            <div class="mb-3 col-sm-6">
                <label for="firstname" class="form-label">First Name: </label>
                <input type="text" name="firstname" class="form-control" id="firstname" placeholder="Juan" required>
            </div>
            <div class="mb-3 col-sm-6">
                <label for="lastname" class="form-label">Last Name: </label>
                <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Dela Cruz" required>
            </div>
            <div class="mb-3 col-sm-6">
                <label for="contactnumber" class="form-label">Contact Number: </label>
                <input type="tel" name="contactnumber" class="form-control" id="contactnumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-123-1234" required>
            </div>
            <div class="mb-3 col-sm-6">
                <label for="email" class="form-label">Email: </label>
                <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com" required>
            </div>
            <div class="mb-3 col-sm-6">
                <label for="message" class="form-label">Message: </label>
                <textarea class="form-control" name="message" id="message" rows="5"></textarea>
            </div>  
            <div class="mb-4 col-sm-6">
                <label for="formFile" class="form-label">Attachment (max 2Mb)</label>
                <input class="form-control" name="filename" type="file" id="formFile">
            </div>
            <div class="col-12">
                <button class="btn btn-outline-dark" type="submit">Submit form</button>
            </div>
        </form>
    </div>
</div>