<!-- Main Section - Projects Page -->
<div class="container pb-5">
    <div class="mt-0 p-5 rounded text-center text-break">
        <h1>THIS IS IN PROGRESS</h1>
    </div>

    <div class="d-flex align-items-center pb-5">
        <div class="flex-shrink-0">
            <img src="/Assets/images/infinitedata_logo.png" class="px-2" alt="..." width="200">
        </div>
        <div class="flex-grow-1 ms-4 text-break">
            <h3><b>X</b></h3>
            <h5><p class="justify">
                X
            </p>
            </h5>
        </div>
      
    </div>

    <div class="d-flex align-items-center pb-5">
        
        <div class="flex-grow-1 me-4 text-break">
            <h3><b>X</b></h3>
            <h5><p class="justify">
                X
            </p>
            </h5>
        </div>
        <div class="flex-shrink-0">
            <img src="/Assets/images/accenture_logo.png" class="px-2" alt="..." width="200">
        </div>
    </div>

    <div class="d-flex align-items-center pb-5">
        <div class="flex-shrink-0">
            <img src="/Assets/images/abuhtourslogo.jpg" class="px-2" alt="..." width="200">
        </div>
        <div class="flex-grow-1 ms-3 text-break">
            <h3><b>X</b></h3>
            <h5><p class="justify">
                X
            </p>
            </h5>
        </div>
    </div>
</div>