 <!-- Footer - Bottom Navigation -->
 <footer>
    <nav class="navbar sticky-bottom justify-content-end" style="white-space: nowrap">
            <h7 class="navbar-text text-white px-5">&copy; 2022. All rights reserved.</h7>
    </nav>
  </footer>