
  <main>
    <mat-card class="card">
      <mat-card-content>
        <mat-toolbar color="primary">
          <span>Register</span>
        </mat-toolbar>
        <form
          class="form-body"
          autocomplete="off"
          #form="ngForm"
          (ngSubmit)='addUser(form)'
        >
          <div class="bg-danger mt-2 p-2 text-center text-white" *ngIf="!success">
            {{ errorMessage }}
          </div>
          <!-- Username input -->
          <mat-form-field>
            <input
              matInput
              placeholder="Username"
              [(ngModel)]="user.username"
              name="username"
              required
              autofocus
              autocomplete="off"
            />
          </mat-form-field>
          <!-- Email input -->
          <mat-form-field>
            <input
              matInput
              placeholder="Email"
              [(ngModel)]="user.email"
              name="email"
              type="email"
              required
              autocomplete="off"
            />
          </mat-form-field>
          <!-- Password input -->
          <mat-form-field>
            <input
              matInput
              placeholder="Password"
              [(ngModel)]="user.password"
              type="password"
              name="password"
              required
              autocomplete="off"
            />
          </mat-form-field>
          <button class="submit-button" mat-raised-button color="primary" type="submit">
            <i class="fas fa-sign-in-alt"></i>
            Sign Up
          </button>
          <button class="submit-button" mat-stroked-button routerLink="/home">
            <i class="fas fa-undo"></i>
            Cancel
          </button>
        </form>
      </mat-card-content>
        
    </mat-card>
  </main>