<mat-card>
  <form (submit)="onSaveSurvey(postForm)" #postForm="ngForm">
  <h3 color="warn">Survey Information</h3>
  <mat-form-field appearance="fill">
    <mat-label>Your name</mat-label>
    <input matInput name="creator" [ngModel]="survey?.creator">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Survey Name</mat-label>
    <input matInput name="title" [ngModel]="survey?.title">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Survey Description</mat-label>
    <input matInput name="description" [ngModel]="survey?.description">
  </mat-form-field>

  <h3 color="warn">Question List</h3>

  <mat-form-field appearance="fill">
    <mat-label>Question 1</mat-label>
    <input matInput name="question_1" [ngModel]="survey?.question_1">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Question 2</mat-label>
    <input matInput name="question_2" [ngModel]="survey?.question_2">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Question 3</mat-label>
    <input matInput name="question_3" [ngModel]="survey?.question_3">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Question 4</mat-label>
    <input matInput name="question_4" [ngModel]="survey?.question_4">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Question 5</mat-label>
    <input matInput name="question_5" [ngModel]="survey?.question_5">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Question 6</mat-label>
    <input matInput name="question_6" [ngModel]="survey?.question_6">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Question 7</mat-label>
    <input matInput name="question_7" [ngModel]="survey?.question_7">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Question 8</mat-label>
    <input matInput name="question_8" [ngModel]="survey?.question_8">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Question 9</mat-label>
    <input matInput name="question_9" [ngModel]="survey?.question_9">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Question 10</mat-label>
    <input matInput name="question_10" [ngModel]="survey?.question_10">
  </mat-form-field>

<hr>
<button mat-raised-button color="primary" class="accent" type="submit">Save Survey</button>

</form>
</mat-card>

