<div class="diagonal-box">
  <div class="row-10">
      <div class="col-8 content white text-break">
          <h1>BarbarianSurveys</h1>
          <h4 style='color:#E3C000'>Your doorway to answers</h4>
      </div>
      <div class=" circle desktop text-center align-self-center">
          <i class="fa-solid fa-clipboard-list pt-4 survey_logo"></i>
          <i class="fa-solid fa-check-double check"></i>
      </div>
  </div>
</div>

<div class="diagonal-box bg-one d-flex align-items-center justify-content-center">
  <div class="content mw-100 w-100" style="margin-top:4%; margin-bottom:4%">
    <h3 style="text-align: center; color:#6900FF; font-weight: 900;">Create a Survey</h3>

    <div class="row p-4 ">
      <div class="col-sm p-4">
          <div class="row" style="text-align: center;">
              <i class="fa-sharp fa-solid fa-bolt fa-8x"></i>
          </div>
          <div class="row justify-content-center pt-4" style="color:#7C73E6; font-weight: 900;">Fast</div>
      </div>
      <div class="col-sm p-4">
          <div class="row" style="text-align: center;">
              <i class="fa-solid fa-pen-to-square fa-8x"></i>
          </div>
          <div class="row justify-content-center pt-4" style="color:#7C73E6; font-weight: 900;">Customizable</div>
      </div>
      <div class="col-sm p-4">
          <div class="row" style="text-align: center;">
              <i class="fa-solid fa-chart-simple fa-8x"></i>
          </div>
          <div class="row justify-content-center pt-4" style="color:#7C73E6; font-weight: 900;">Get Analytics</div>
      </div>
    </div>

    <h3 class="pt-4" style="text-align: center;">Available and Active Survey</h3>
    <div class="d-grid gap-3 col-12 mx-auto pt-4 align-items-center justify-content-center">
          <button type="button" class="btn btn-outline-primary">Lorem ipsum dolor sit amet dolor sit amet Lorem ipsum dolor sit amet dolor sit amet Survey</button>
          <button type="button" class="btn btn-outline-primary">Lorem ipsum dolor sit amet dolor sit amet  Survey</button>
          <button type="button" class="btn btn-outline-primary">Lorem ipsum dolor sit amet dolor sit amet Lorem ipsum dolor sit amet dolor sit amet Survey</button>
          <button type="button" class="btn btn-outline-primary">Lorem ipsum dolor sit amet dolor sit amet Survey</button>
      </div>
  </div>
</div>
