<div>
    <h1 mat-dialog-title>Question</h1>
    <div mat-dialog-content>
        <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">
            <mat-form-field>
                <input matInput [(ngModel)]="data.option" type="text" placeholder="Enter an option">
            </mat-form-field>

        </div>
    </div>

    <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close color="warn" (click)="onClose()">Close</button>
        <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial color="primary">Confirm</button>
      </div>

</div>
