<!-- <mat-toolbar color="primary">
  <span><a routerLink="/">Barbarians Surveys</a></span>
  <span class="space"></span>
<ul>
  <li>
    <a mat-raised-button color="accent" routerLink="/create">Create Survey</a>
  </li>
</ul>

</mat-toolbar> -->

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand white" routerLink="">Home</a>
      <a class="navbar-brand px-5 white" routerLink="/create">Create Survey</a>
      <a class="navbar-brand white" routerLink="/list">Survey List</a>
      <a class="navbar-brand white" href="#">Answer Survey</a>
      <a class="nav-link ms-auto px-5 white" href="/">
        <i class="fas fa-right-to-bracket"></i> Login
      </a>

    </div>
  </div>
</nav>
